<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>test abcd 이레이레</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao4df206455336b6c8a2d990fd54b0bb39</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb470445923976829</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>470445923976829</string>
	<key>FacebookDisplayName</key>
	<string>ThummIt</string>
	<key>KAKAO_APP_KEY</key>
	<string>7d796ccb0943d83c4721fe5d3ff85e1c</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakao7d796ccb0943d83c4721fe5d3ff85e1c</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk-5.9.7</string>
		<string>storylink</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) uses Cameras</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo Library Access</string>
	<key>UIAppFonts</key>
	<array>
		<string>KOTRA_BOLD.otf</string>
		<string>NanumSquareOTFBold.otf</string>
		<string>AnyConv.com__NanumGothic.otf</string>
		<string>NanumGothicBold.otf</string>
		<string>NanumSquareOTFExtraBold.otf</string>
		<string>UTOIMAGE_ ChocolatLatte_OTF.otf</string>
		<string>SCDream9.otf</string>
		<string>BMHANNA_11yrs_otf.otf</string>
		<string>gabia_solmee.otf</string>
		<string>62570-_1_.otf</string>
		<string>NotoSansCJKkr-Bold.otf</string>
		<string>ELAND-Nice-M.otf</string>
		<string>BMDOHYEON_otf.otf</string>
		<string>SangSangAnt.otf</string>
		<string>NanumBarunGothic.otf</string>
		<string>NanumBarunGothicBold.otf</string>
		<string>NanumGothicExtraBold.otf</string>
		<string>yangpyeong_B.otf</string>
		<string>BMJUA_otf.otf</string>
		<string>SCDream2.otf</string>
		<string>SangSangShin.otf</string>
		<string>SDSwagger.otf</string>
		<string>KCC김훈체(MAC용).otf</string>
		<string>Recipekorea 레코체 FONT.otf</string>
		<string>UhBee-puding.otf</string>
		<string>UhBee-puding-Bold.otf</string>
		<string>Fraunces-VariableFont_SOFT_WONK_opsz_wght.otf</string>
		<string>neodgm_pro.otf</string>
		<string>TmoneyRoundWindRegular.otf</string>
		<string>TmoneyRoundWindExtraBold.otf</string>
		<string>BMYEONSUNG_otf.otf</string>
		<string>JejuHallasan.otf</string>
		<string>NanumSquareEB.otf</string>
		<string>NanumGothicBold.otf</string>
		<string>SDMiSaeng.otf</string>
		<string>NanumSquareEB.otf</string>
		<string>NanumSquareOTF_acB.otf</string>
		<string>UhBee DoolDool Bold.otf</string>
		<string>SSShinRegular_otf.otf</string>
		<string>NanumMyeongjoExtraBold.otf</string>
		<string>RecipekoreaFONT.otf</string>
		<string>gabia_bombaram.otf</string>
		<string>Windy Lavender.otf</string>
		<string>Cafe24Shiningstar.otf</string>
		<string>NEXON Lv2 Gothic OTF.otf</string>
		<string>BinggraeⅡ-Bold.otf</string>
		<string>NEXON Lv2 Gothic OTF Bold.otf</string>
		<string>BinggraeSamanco-Bold.otf</string>
		<string>Fraunces_9pt-SemiBold.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<false/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
