<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341329154400-ug4gn4ki9s5dr92buf4d6n65mkpu2lcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341329154400-ug4gn4ki9s5dr92buf4d6n65mkpu2lcn</string>
	<key>API_KEY</key>
	<string>AIzaSyAjKjZuITrmenDIvC8Qqm6mAMON0TtFQAw</string>
	<key>GCM_SENDER_ID</key>
	<string>341329154400</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Thummit.Thummit</string>
	<key>PROJECT_ID</key>
	<string>thummit-453ea</string>
	<key>STORAGE_BUCKET</key>
	<string>thummit-453ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341329154400:ios:6190176570daa5b0274e05</string>
</dict>
</plist>